# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers: In this data type we read inputs and print outputs in the form of whole numbers. We declare them using int for integers 
         and float for decimal numbers and exponents. Both positive and negative numbers are acceptible.

Strings: This data type is collection of characters as one element. Ex "My name is Karthik and I'm 19 years old"

Lists: This data type is an ordered collection of characters. This data type is mutable and new items can be appended. The collection of items is enclosed in a [].

Tuples: This data type is similar to lists but its one element can hold 2 values. They are aalso immutable, so adding or deleting elements is not possible

Dictionaries: In this data type each element is mapped to a key. It is changeable and there is no duplication of elements.

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [7]:
(1 / 2**2) + ((200 - 150) * 2)

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5) = 44
    
    What is the value of the expression 4 * 6 + 5   = 29
    
    What is the value of the expression 4 + 6 * 5   = 34

In [8]:
4 * (6 + 5)

44

In [9]:
4 * 6 + 5

29

In [10]:
4 + 6 * 5

34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>

In [11]:
check_type = 3 + 1.5 + 4

In [12]:
type(check_type)

float

What would you use to find a numberâ€™s square root, as well as its square?

In [44]:
# Square root: 

123456 ** 0.5

351.363060095964

In [45]:
# Square:

789 ** 2

622521

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [16]:
s = 'hello'
# Print out 'e' using indexing

s[1]

'e'

Reverse the string 'hello' using slicing:

In [63]:
s ='hello'
# Reverse the string using slicing

s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [18]:
s ='hello'
# Print out the 'o'

# Method 1:

s[4]

'o'

In [19]:
# Method 2:

s[-1]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [46]:
# Method 1:

list = [0,0,0]
list

[0, 0, 0]

In [47]:
# Method 2:

[0] * 3

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [48]:
list3 = [1,2,[3,4,'hello']]

list3[2][2] = 'goodbye'
list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [49]:
list4 = [5,3,4,6,1]

list4.sort()
list4

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [50]:
d = {'simple_key':'hello'}
# Grab 'hello'

d['simple_key']

'hello'

In [51]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'

d['k1']['k2']

'hello'

In [52]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello

d['k1'][0]['nest_key'][1][0]

'hello'

In [64]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

# sorry I am unable to solve it, please teach me.

Can you sort a dictionary? Why or why not?<br><br>

No. In dictionaries the elements are mapped to a key and thus they cannot be sorted. For example, Dict_example = {'Company':'Apple', 'Fruit':'Banana} cannot be sorted as Apple and Banana are mapped to Company and Fruit respectively.

## Tuples

What is the major difference between tuples and lists?<br><br>

Lists are mutable that is changeable or can be altered whereas tuples cannot be changes and are immutable.

How do you create a tuple?<br><br>

Tuples are created like this tuple_example = (1, 2, 'three').

## Sets

What is unique about a set?<br><br>

In sets, there is no repetition of elements. This makes every element distinct and unique.

Use a set to find the unique values of the list below:

In [31]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

set(list5)

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [37]:
# Answer before running cell = False
2 > 3

False

In [38]:
# Answer before running cell = False
3 <= 2

False

In [39]:
# Answer before running cell = False
3 == 2.0

False

In [40]:
# Answer before running cell = True
3.0 == 3

True

In [41]:
# Answer before running cell = False
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [42]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

# False, as 3 >! 4.

False

## Great Job on your first assessment!