In [1]:
# Single word
'hello'

'hello'

In [7]:
# Entire phrase
'This is also a string'

'This is also a string'

In [8]:
# We can also use double quote
"String built with double quote"

'String built with double quote'

In [4]:
# Be careful with the quotes
' I'm using single quotes, but this will create an error'

SyntaxError: invalid syntax (<ipython-input-4-2af8f7766d23>, line 2)

In [9]:
"Now I'm ready to use single quotes inside a string"

"Now I'm ready to use single quotes inside a string"

In [10]:
# We can simply declare a string
'Hello World'

'Hello World'

In [11]:
# Note that we can't output multiple strings this way
print('Hello World 1')
print('Hello World 2')

Hello World 1
Hello World 2

In [17]:
print('Hello World 1')
print('Hello World 2')
print('Use \n to print a new line')
print('\n')
print('My name is Karthik')
print('I am doing great')
print('I have a doubt in your code')

Hello World 1
Hello World 2
Use
 to print a new line


My name is Karthik
I am doing great
I have a doubt in your code

In [13]:
len('Hello World')

11

In [14]:
# Assign s as a string
s = 'Konichiwa minasan'

In [15]:
# Check
s

'Konichiwa minasan'

In [16]:
# Print the object
print(s)

Konichiwa minasan

In [18]:
# Show first element (in this case a letter)
s[0]

'K'

In [21]:
s[1]

'o'

In [22]:
# Grab everything past the first term all the way to the length of s which is len(s)
s[1:]

'onichiwa minasan'

In [23]:
# Note that there is no change to the original s
s

'Konichiwa minasan'

In [24]:
# Grab everything up to the 3rd index
s[:3]

'Kon'

In [25]:
#Everything
s[:]

'Konichiwa minasan'

In [26]:
# Last letter (one index behind 0 so it loops back around)
s[-1]

'n'

In [27]:
# Grab everything but the last letter
s[:-1]

'Konichiwa minasa'

In [28]:
# Grab everything, but go in steps size of 1
s[::1]

'Konichiwa minasan'

In [29]:
# Grab everything, but go in step sizes of 2
s[::2]

'Knciamnsn'

In [30]:
# We can use this to print a string backwards
s[::-1]

'nasanim awihcinoK'

In [31]:
s

'Konichiwa minasan'

In [32]:
# Let's try to change the first letter to 'x'
s[0] = 'x'

TypeError: 'str' object does not support item assignment

In [33]:
s

'Konichiwa minasan'

In [36]:
# Concatenate strings!
s + ' soshite genki desu ka'

'Konichiwa minasan soshite genki desu ka'

In [37]:
# We can reassign s completely though!
s = s + ' soshite genki desu ka'

In [38]:
print(s)

Konichiwa minasan soshite genki desu ka

In [39]:
letter = 'z'

In [40]:
# Printing same alphabet 10 times
letter * 10

'zzzzzzzzzz'

In [41]:
s

'Konichiwa minasan soshite genki desu ka'

In [42]:
# Upper Case a string
s.upper()

'KONICHIWA MINASAN SOSHITE GENKI DESU KA'

In [43]:
# Lower case
s.lower()

'konichiwa minasan soshite genki desu ka'

In [44]:
# Split a string by blank space (this is the default)
s.split()

['Konichiwa', 'minasan', 'soshite', 'genki', 'desu', 'ka']

In [45]:
# Split by a specific element (doesn't include the element that was split on)
s.split('s')

['Konichiwa mina', 'an ', 'o', 'hite genki de', 'u ka']

In [46]:
'Insert another string with curly brackets: {}'.format('The inserted string')

'Insert another string with curly brackets: The inserted string'